
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
body{
    background-color:#E6E9F2;
    font-family: 'Roboto', sans-serif;
}
.top{
    display: flex;
    align-items: center;
    padding: 5px;
}
.top img{
    width: 75px;
}
.top h1{
    color: rgba(0, 0, 0, 0.75);
}
.sub{
    display: flex;
    justify-content: space-between;
    padding: 13px 13px 0px 13px;  
}
.sub button{
  border: 0px;
}
.sub a{
    text-decoration: none;
    color:#782424 ;
}
.sub img{
    width: 25px;
}
.custom-navbar {
    background-color: rgba(0, 0, 0, 0.75);
    
}
.navbar-brand{
    color: #E6E9F2;
}
.nav-link{
    color: #E6E9F2;
}
.navbar-toggler{
    color: #E6E9F2;
}
.custom-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='%23E6E9F2' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
 /*header*/
 /*Carrito*/
 
 .popup-container{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
 }
 .popup-content {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 90%;
  height: 80%;
  background-color: white;
  color: rgb(43, 52, 130);
  top: 90px;
  overflow-y: auto;
}
.popup-close {
  border:0px;
  background-color:#782424;
  padding: 3px;
  font-size: 20px;
  border-radius: 10px;
  
  cursor: pointer;
  color:#E6E9F2;
  height: 100%;
}
.poptop{
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: space-between;
  color: #E6E9F2;
  padding: 10px;
  font-size: 25px;
  margin: 0px;
}
.text-product{
  padding: 10px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 32px;
  margin: 0px;
}
.producto-container{
  display: flex;
  color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom:1px solid rgba(0, 0, 0, 0.75);
  justify-content: space-between;
}
.producto-container p{
  color: rgba(0, 0, 0, 0.75);
  align-items: center;
  margin: 0px;
}
.producto-container input{
  width: 20px;
  border: 0px;
  
  text-align: center;
}
.eliminar{
  background-color: #782424;
  color: #E6E9F2;
  border-radius: 100%;
  padding: 3px;
  width: 30px;
  border: 0px;

}
.botones{
  width: 20px;
  padding: 3px;
  margin:0px 5px 0px 5px;
  border: 0px;
  color: rgba(0, 0, 0, 0.75);
  
  
}
.contenedor-total{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #E6E9F2;

}
.contenedor-total p{
  margin: 0px;
  font-size: 32px;
}
.contenedor-pago{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.boton-pago{
  display: flex;
  background-color: #782424;
  height: 80px;
  border: 0px;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  color: #E6E9F2;
  padding: 5px;
}
.boton-pago img{
  width: 60px;
  height: 60px;
  
}
.boton-pago p{
  font-size: 25px;
  padding-right: 10px;
}
 /*main*/
.hot-sale{
    display: flex;
    align-items: center;
    padding: 5px;
}  
.line1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    width: 100%;
}
.line1 img{
  width: 64px;
  height: 64px;
}
.carrousel,.carrousel2 {
  overflow-y: hidden;
    position: relative;
    overflow-x: hidden;
    height: 400px;
}
  
.slider-width,.slider-width2{
     position: absolute;
     display: flex;
     align-items: start;
     justify-content: start;
     left: 0;
     top: 0;
     transition: 0.4s ease-in-out;
     
}
  
.container-product,.container-product2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    margin: 10px 10px;
    
  }
  
  .image {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .image img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .description {
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    background-color: #782424;
    width: 100%;
    max-width: 250px;
    color: #e6e9f2;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border:0px
  }
  
  .text {
    padding-top: 2px;
    margin: 0px;
  }
  
  .carousel-prev,
  .carousel-next,.carousel-prev2,.carousel-next2 {
    position: absolute;
    top: 68%;
    width: 45px;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 100px;
  }
  
  .carousel-prev,.carousel-prev2 {
    left: 0px;
  }
  
  .carousel-prev img,
  .carousel-next img,.carousel-prev2 img,.carousel-next2 img {
    max-width: 100%;
    max-height: 100%;
  }
  .carousel-next,.carousel-next2 {
    right: 0px;
  }
  /*footer*/
  .foot{
    background-color: rgba(0, 0, 0, 0.75);
    color: #E6E9F2;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .icons{
    flex-direction: row;
  }
  .icons img{
    width: 64px;
  }
  .icons a{
    margin-right: 10px;
  }
  /*Seccion Productos*/
  .productos-main{
    display: flex;
    max-height: 200px;
  }
  .productos-main img{
    width: 100%;
  }
  .search{
    display: flex;
    justify-content: center;
    
  }
  .search input{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    border: 0px;
    border-radius: 10px;
    padding:5px;
    margin: 5px;
    position: relative;
    color: #E6E9F2;
  }
  .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productos-listado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .productos-listado .container-product{
    width: 170px;
  }
  .productos-listado .container-product .description{
    margin-top: 0px;
    font-size: 20px;
  }
  .clasificaciones-lista {
    display: none;
  }
  .clasificaciones-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    font-size: 25px;
    
  }
  .clasificaciones-lista{
    margin: 0px;
    padding: 0px;
    
  }
  .clasificaciones-btn{
    color: #782424;
    text-align: left;
    border: 0px;
    
  }
  .clasificacion{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: left;
    border-top:solid rgba(0, 0, 0, 0.75) 1px ; 
  }
  /*seccion nosotros*/
  .main-card{
    display: flex;
    flex-direction: column;

  }
  .imagen-top{
    width: 100%;
  }
  .imagen-top img{
    width: 100%;
  }
  .text-down{
    background-color: rgba(0, 0, 0, 0.75);
    color: #E6E9F2;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  .line2{
    
    width: 100%;
  }
  .line2 img{
    width: 64px;
    height: 64px;
  } 