
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header{
  top: 0;
  z-index: 10;
  position: fixed;
  background-color: #E6E9F2;
  width: 100%;
}
main{
  margin-top: 180px;
}
body{
    background-color:#E6E9F2;
    font-family: 'Roboto', sans-serif;
}
.top{
    display: flex;
    align-items: center;
    padding: 5px;
}
.top img{
    width: 75px;
}
.top h1{
    color: rgba(0, 0, 0, 0.75);
    font-size: 30px;
}
.sub{
    display: flex;
    justify-content: space-between;
    padding: 13px 13px 0px 13px;  
}
.sub button{
  border: 0px;
  background-color: #E6E9F2;
}
.sub a{
    text-decoration: none;
    color:#782424 ;
}
.sub img{
    width: 25px;
    
}

.custom-navbar {
    background-color: rgba(0, 0, 0, 0.75);
    
}
.navbar-brand{
    color: #E6E9F2;
}
.nav-link{
    color: #E6E9F2;
}
.navbar-toggler{
    color: #E6E9F2;
}
.custom-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='%23E6E9F2' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
 /*header*/
 /*Carrito*/
 
 .popup-container{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
 }
 .popup-content {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 90%;
  height: 80%;
  border: 0px;
  background-color: white;
  color: rgb(43, 52, 130);
  top: 90px;
  overflow-y: auto;
}
.popup-close {
  border:0px;
  background-color:#782424;
  padding: 3px;
  font-size: 20px;
  border-radius: 10px;
  
  cursor: pointer;
  color:#E6E9F2;
  height: 100%;
}
.poptop{
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: space-between;
  color: #E6E9F2;
  padding: 10px;
  font-size: 25px;
  margin: 0px;
}
.text-product{
  padding: 10px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 32px;
  margin: 0px;
}
.producto-container{
  display: flex;
  color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom:1px solid rgba(0, 0, 0, 0.75);
  justify-content: space-around;
  align-items: center;
}
.producto-container p{
  color: rgba(0, 0, 0, 0.75);
  align-items: center;
  text-align: center;
  margin: 0px;
  font-size: 13px;
  flex-basis: 25%
}
.producto-container input{
  width: 20px;
  border: 0px;
  text-align: center;
}
.cantidad-container{
  flex-basis: 25%;
}
.eliminar{
  background-color: #782424;
  color: #E6E9F2;
  border-radius: 100%;
  padding: 3px;
  width: 30px;
  border: 0px;

}
.botones{
  width: 20px;
  padding: 3px;
  margin:0px 5px 0px 5px;
  border: 0px;
  color: rgba(0, 0, 0, 0.75);
  
  
}
.contenedor-total{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #E6E9F2;

}
.contenedor-total p{
  margin: 0px;
  font-size: 32px;
}
.contenedor-pago{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.boton-pago{
  display: flex;
  background-color: #782424;
  height: 80px;
  border: 0px;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  color: #E6E9F2;
  padding: 5px;
}
.boton-pago img{
  width: 60px;
  height: 60px;
  
}
.boton-pago p{
  font-size: 25px;
  padding-right: 10px;
}
.contenedor-envio{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  color: #E6E9F2;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  
}
.contenedor-envio p{
  font-size: 20px;
}
.contenedor-envio div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}
.contenedor-envio div input{
  background-color: #E6E9F2;
  color: rgba(0, 0, 0, 0.75);
  height: 30px;
  border-radius: 10px;
  border: 0px;
}
.contenedor-envio button{
  display:flex;
  color: rgba(0, 0, 0, 0.75);
  background-color: #E6E9F2;
  border-radius: 10px;
  border:0px;
  padding:5px;
  margin: 5px;
}
 /*main*/
.hot-sale{
    display: flex;
    align-items: center;
    padding: 5px;
}  
.line1{
    
    width: 100%;
}
.line1 img{
  width: 64px;
  height: 64px;
}
.line1 h2{
  font-size: 30px;
  color:rgba(0, 0, 0, 0.75);
 }
.carrousel,.carrousel2 {
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  display: flex;
  overflow-y: hidden;
    position: relative;
    overflow-x: hidden;
    height: 400px;
}
  
.slider-width,.slider-width2{
     position: absolute;
     display: flex;
     align-items: start;
     justify-content: start;
     left: 0;
     top: 0;
     transition: 0.4s ease-in-out;
     
}
  
.container-product,.container-product2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    margin: 10px 10px;
    
  }
  .container-product .image,.container-product2 .image{
    background-color: white;
  }
  
  .image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  
  .description {
    margin-top: 25px;
    padding: 5px;
    text-align: center;
    background-color: #782424;
    width: 100%;
    max-width: 250px;
    color: #e6e9f2;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border:0px
  }
  
  .text {
    padding-top: 2px;
    margin: 0px;
  }
  
  .carousel-prev,
  .carousel-next,.carousel-prev2,.carousel-next2 {
    position: absolute;
    top: 68%;
    width: 45px;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 100px;
    background-color: #E6E9F2;
  }
  
  .carousel-prev,.carousel-prev2 {
    left: 0px;
  }
  
  .carousel-prev img,
  .carousel-next img,.carousel-prev2 img,.carousel-next2 img {
    max-width: 100%;
    max-height: 100%;
  }
  .carousel-next,.carousel-next2 {
    right: 0px;
  }
  /*footer*/
  .foot{
    background-color: rgba(0, 0, 0, 0.75);
    color: #E6E9F2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
  }
  .icons{
    flex-direction: row;
  }
  .icons img{
    width: 64px;
  }
  .icons a{
    margin-right: 10px;
  }
  /*Seccion Productos*/
  .productos-main{
    display: flex;
    max-height: 200px;
  }
  .productos-main img{
    width: 100%;
  }
  .search{
    display: flex;
    justify-content: center;
    
  }
  .search input{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    border: 0px;
    border-radius: 10px;
    padding:5px;
    margin: 5px;
    position: relative;
    color: #E6E9F2;
  }
  .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productos-listado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .productos-listado .container-product{
    width: 170px;
    
  }
  .productos-listado .container-product .image{
    height: 170px;
    width: 170px;
    background-color: white;
    
  }
  .productos-listado .container-product .description{
    
    margin-top: 0px;
    font-size: 14px;
  }
  .clasificaciones-lista {
    display: none;
  }
  .clasificaciones-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    font-size: 25px;
    background-color: #E6E9F2;
  }
  .clasificaciones-lista{
    margin: 0px;
    padding: 0px;
    
  }
  .clasificaciones-btn{
    color: #782424;
    text-align: left;
    background-color: #E6E9F2;
    border: 0px;
    
  }
  .clasificacion{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: left;
    border-top:solid rgba(0, 0, 0, 0.75) 1px ; 
  }
  /*seccion nosotros*/
  .main-card{
    display: flex;
    flex-direction: column;

  }
  .imagen-top{
    width: 100%;
  }
  .imagen-top img{
    width: 100%;
  }
  .text-down{
    background-color: rgba(0, 0, 0, 0.75);
    color: #E6E9F2;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  .line2{
    
    width: 100%;
  }
  .line2 img{
    width: 64px;
    height: 64px;
  } 

  /*MEDIA QUERIES*/
  @media(min-width:550px){
   .top img{
    width: 100px;
    height: 100px;
   } 
   .top h1{
    font-size: 40px;
   }
   .navbar-brand{
    font-size: 30px;
   }
   .navbar{
    font-size: 27px;
   }
   .sub button{
    font-size: 25px;
   }
   .sub img{
    width: 35px;
    height: 35px;
   }
   .line1 img{
    width: 85px;
    height: 85px;
   }
   .line1 h2{
    font-size: 40px;
   }
   .container-product,.container-product2{
    width:300px;
   }
   .image{
    height: 300px;
    width: 300px;
   }
   .carrousel,.carrousel2{
    height: 500px;
   }
   .description{
    max-width: 300px;
    font-size: 25px;
   }
   .carousel-prev, .carousel-next, .carousel-prev2, .carousel-next2{
    top: 64%;
   } 
   .foot{
    font-size: 20px;
   }
   /*carrito*/
   .popup-content{
    width: 70%;
    height: 80%;
   }
   .poptop{
    font-size: 30px;
   }
   .text-product{
    font-size: 40px;
   }
   .producto-container{
    height: 70px;
   }
   .producto-container p{
    font-size: 20px;
   }
   .eliminar{
    width: 33px;
    height: 33px;
   }
   .contenedor-total p{
    font-size: 38px;
   }
   .boton-pago{
    height: 90px;
   }
   .boton-pago p{
    font-size: 35px;
   } 
  }
@media(min-width:700px){
  .container-product,.container-product2{
    width:220px;
   }
   .image{
    height: 220px;
    width: 220px;
   }
   .carrousel,.carrousel2{
    height: 400px;
   }
   .description{
    max-width: 220px;
    font-size: 20px;
   }
   .carousel-prev, .carousel-next, .carousel-prev2, .carousel-next2{
    top: 60%;
   } 
   .carousel-item img{
    height: 500px;
   }
   /*Productos*/
   .search input{
    padding: 13px;
   }
   .productos-listado .container-product {
    width: 200px;
   }
   .productos-listado .container-product .image{
    height: 200px;
    width: 200px;
   }
   .productos-listado .container-product .description{
    font-size: 18px;
   }
   .text-down{
    font-size: 23px;
  }
}

@media(min-width:1200px){
  main{
    margin-top: 230px;
  }
  .productos-main {
    max-height: 400px;
  }
  .container-product,.container-product2{
    width:280px;
   }
   .image{
    height: 280px;
    width: 280px;
   }
   .carrousel,.carrousel2{
    height: 500px;
   }
   .carousel-prev, .carousel-next, .carousel-prev2, .carousel-next2{
    top: 60%;
   } 
   .description{
    max-width: 280px;
    font-size: 24px;
   }
   .carousel-item img{
    height: 600px;
   }
   .popup-content{
    width: 60%;
    height: 80%;
   }
   .poptop{
    font-size: 35px;
   }
   .text-product{
    font-size: 43px;
   }
   .producto-container{
    height: 76px;
   }
   .producto-container p{
    font-size: 24px;
   }
   .eliminar{
    width: 40px;
    height: 40px;
   }
   .contenedor-total p{
    font-size: 42px;
   }
   .boton-pago{
    height: 100px;
   }
   .boton-pago p{
    font-size: 40px;
   } 
   .productos-desktop{
   display: flex;
   justify-content: flex-end;
   
   }
   .productos{
    margin-top: 30px;
    display: flex;
    width: 70%;
    
   }
   .hot-sale{
    width: 30%;
    align-items: normal;
    
   }
   .line1 h2{
    font-size: 50px;
   }
   .search{
    font-size: 25px;
   }
   .clasificaciones-btn{
    color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    border: 0px;
   }
   .clasificaciones-btn img{
    border-radius: 10px;
   }
   .clasificaciones-container{
    font-size: 35px;
    border: 2px solid #782424;
    border-radius: 10px;
    color: #E6E9F2;
    background-color: rgba(0, 0, 0, 0.75);
   }
   .productos-listado .container-product {
    width: 300px;
   }
   .productos-listado .container-product .image{
    height: 300px;
    width: 300px;
   }
   .productos-listado .container-product .description{
    font-size: 22px;
    max-width: 300px;
   }
   .main-card{
    display: flex;
    flex-direction: row;
   }
   .text-down{
    width: 50%;
   }
   .imagen-top{
    width: 100%;
    
  }
  .imagen-top img{
    width: 100%;
    
  }
}
@media(min-width:1800px){
  .p-main{
    margin-right: 10%;
    margin-left: 10%;
  }
  .slide{
    margin-right: 10%;
    margin-left: 10%;
  }
  .container-product,.container-product2{
    width:400px;
   }
   .image{
    height: 400px;
    width: 400px;
   }
   .carrousel,.carrousel2{
    height: 700px;
   }
   .carousel-prev, .carousel-next, .carousel-prev2, .carousel-next2{
    top: 60%;
   } 
   .description{
    max-width: 400px;
    font-size: 29px;
   }
}